/* INITIALIZATION */
* {margin: 0; padding: 0;}
main, nav {display: block;}

/* Main CSS */
body {
    font-family: "Times New Roman", Times, serif;
}

header, section, footer {
    width: 100%;
    text-align: center;
    /* Delete below properties when project has been finished */
    padding: 10px;
    background-color: aquamarine;
    border-bottom: 1px solid black;
/*    box-sizing: border-box;*/
}

/*********************************
        Small Screens
*********************************/

@media screen and (max-width: 600px){
    
    /* Navigation bar */


    /*
    nav {
        width: 100%;
        background-color: grey;
    }
    */    
    nav a:not(:last-child) {
        display: block;
        float: left;
        background-color: chocolate;
    }
        
    /* RESPONSIVE NAVIGATION BAR */
    
    /* 1. Hide all navigation tabs and keep only: 
    home (fist-child) & three-line navicon (last-child): */
    
/*
    .responsiveNavBar nav a:not(:first-child) {
        display: none;
    }
    
    .responsiveNavBar nav a:last-child {
        float: right;
        display: block;
      }
*/
    
    /* 2. Spread out menu & set three-line navicon (last-child) at the top right*/
    
/*
    .responsiveNavBar.unfoldMenu nav {
        position: relative;
    }
    
    .responsiveNavBar.unfoldMenu nav a:last-child {
        position: absolute;
        right: 0;
        top: 0;
      }
    
    .responsiveNavBar.unfoldMenu nav a {
        float: none;
        display: block;
        text-align: left;
      }
    
*/
    /* Ends RESPONSIVE NAVIGATION BAR */
    
    
    
    
}