/* INITIALIZATION */
    * {margin: 0; padding: 0;}
    main, nav {display: block;}


body {
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {font-weight: 100;}

header, section, footer {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black; /* Delete property when project is finished */
}

/* Navigation */

    header#navigation {padding: 15px;}
    nav a {padding: 0 30px;}

    nav a:link, nav a:visited {
        text-decoration: none;
        color: grey;
    }

    nav a:hover, nav a:active {
        color: black;
    }

/* Welcome message */

    #welcomeMessage {
        height: 270px;
        background-color: azure;
    }

    #welcomeMessage h1 {
        padding-top: 110px;
    }

/* About Us */

    #aboutUs article {
        padding: 25px 200px;
    }

    #aboutUs article h2 {
        padding-bottom:10px;
    }

/* Features */

    #features h2 {padding: 25px 0;}
    #features h3 {padding: 0 0 10px 0;}

    #features .gridLayout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 80px;
        grid-row-gap: 50px;
        padding: 0 50px 25px 60px;
    }

    #features .gridLayout .featureBlock {
        text-align: left;
        position: relative;
    }

    #features .gridLayout .featureBlock span{
        position: absolute;
        left: -30px;

    }

/* Portfolio */

    #portfolio h2 {padding: 25px 0;}
    #portfolio h3 {padding: 0 0 10px 0;}

    #portfolio .gridLayout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 0 50px 25px 60px;

    }
    
    /* On hover: overlay block text */

        .portfolioBlock {
          position: relative;
          width: 100%;
        }

        .image {
          display: block;
          width: 100%;
          height: auto;
        }

        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #008CBA;
          opacity: 0.5;
          overflow: hidden;
          width: 0;
          height: 100%;
          transition: .5s ease;
        }

        .portfolioBlock:hover .overlay {
          width: 100%;
        }

        .text {
          /* white-space: normal; */ 
          color: white;
          position: absolute;
          /* overflow: hidden; */
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }


/* Customer Reviews */

#customerReviews h2 {padding: 25px 0;}
#customerReviews .customerName {padding-bottom: 25px;}
#customerReviews blockquote {padding: 0 350px;}